body{
	display:flex;
	font-family:Calibri;
	flex-wrap: wrap;
}

.profile{
	border-radius:100%;
	justify-content:center;
}

.info{
	font-size:4rem;
	text-align:center;
	margin:5px;
}

article{
	background-color: hsl(0, 0%, 85%);
	text-align: center;
	vertical-align: middle;	
}