
.bitter{
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


h1{
	text-align: center;
}

.heading{
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

footer{
	background-color:rgb(100, 100, 100);
	color:white;
	text-align: center;
}

.achievements-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.achievement-card {
    flex: 1;
    min-width: 0;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #2563eb;
    border: 1px solid #e2e8f0;
	text-align: center;
}

.achievement-card h2 {
    color: #2563eb;
    margin-bottom: 10px;
}

.image{
	height: 500px;
	width: 500px;
}
